@charset "utf-8";
/* CSS Document */
body{
	background-color:#FFF;
	background-image:url(../media/textura.jpg);
	background-size:cover;
	overflow:hidden;
	}

#contenedorLogo{
	width:25%;
	height:18%;
	/*border:2px solid #000;*/
	position:absolute;
	overflow:hidden;
	left:37%;
	top:2%;
 
}

#logo{
	width:35%;
	height:100%;
	
	
}

#titulo{
	width:100%;
	height:100%;
	z-index:3;
	font-family:Andalus;
	color:#03C;
	font-size:24px;
	font-weight:bold;
}

#title{
	top:25%;
	left:45%;
	position:absolute;
	text-align:center;
}

#title label{
	color:#06F;
}
h2{
	width:100%;
	text-align:center;
	position:absolute;
	top:30%;
	font-family:"Adobe Caslon Pro Bold";
	}
#ancla{
	position:absolute;
	top:35%;
	}

